*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: "Roboto", sans-serif;
    font-style: normal;
}
:root{
    --main-color: #0D0D0D;
    --secondary-color:rgba(255,255,255,1);
}body{
    background-color: var(--main-color);
    color: var(--secondary-color);
    display: flex;
}
nav{
    min-height: 100vh ;
}nav .container{
    display: flex;
    position: fixed;
    z-index: 999;
}nav .container .nav-item{
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1.5rem;
    background-color: var(--main-color);
} nav .container .nav-item .nav-header{
    display: flex;
    flex-direction: column;
    gap: 25px;
}
nav .container .nav-item .nav-header a{
    color: var(--secondary-color);
    text-decoration: none;
    font-size: 18px;
}nav .container .nav-item .nav-footer{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
nav .container .nav-item .nav-footer .icons{
    font-weight: 400;
    cursor: pointer;
}
nav .container .nav-item .nav-footer .copy{
    margin-top: 0;
    margin-bottom: 1rem;
    line-height: 1.5;
}nav .container .nav-side{
    background-color: var(--secondary-color);
    color: var(--main-color);
    width: 80px;
    min-height: 100vh;  display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0px;
}
nav .container .nav-side .image img{
    width: 50px;
    vertical-align: middle;}
    nav .container .nav-side .icon{
        font-size: 18px;  font-weight: 900;
    }
    nav .container .nav-side .more-icons{
        font-weight: 900;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    .ingrredients{
        margin-left: 300px;
    }
    .ingrredients .container{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 100px;
        padding: 40px 0px;
    }
    .ingrredients .container i{
        font-size: 4em;
        font-weight: 900;
        color: var(--secondary-color);
    }
    .ingrredients .container p{
        color: var(--secondary-color);
        text-align: center;  
    }
    .ingrredients .container .item{
        cursor: pointer;
        display: flex;
        flex-direction:column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .ingrredients .container .item h3{
        text-align: center;
        text-transform: capitalize;
        padding-top: 10px;
        line-height: 2;
        font-size: 32px;
    }